@font-face {
   font-family: 'coves_bold-webfont';
   font-display: swap;
   src: url('file:///C:/Users/siddh/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-10-20_085756/fonts/coves_bold-webfont/font.woff');
}
